/* Forzar que la tabla no se encoja bajo overlay */
.no-shrink-table {
  /* cuando la tabla está dentro de un contenedor flex/inline-flex, evitar que encoja */
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  table-layout: auto; /* conserva comportamiento estándar de columnas */
}
